:root {
    --default-color: #FEE6BA;
}

.dialog {
    max-height: 40vh;
    padding: 10px;
    height: fit-content;
    background-color: #3B85AC;
    border: 2px solid #88B8CC;
    box-shadow: 1px 1px 0 black;
    border-radius: 5px;
    position: relative;
    color: var(--default-color);
    overflow: scroll;
}
.dialog:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-left: 1.2px solid black;
    border-radius: 5px;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 5px;
}