:root {
    --default-color: #FEE6BA;
    --quick-exit-opacity: 1;
    --toggle-render: auto;
    --render-width: 100%;
}
.dialog-wrapper {
    position: relative;
    height: fit-content !important;
    width: var(--render-width);
    max-height: 40vh;
    overflow: var(--toggle-render);
    padding: 20px;
    box-sizing: border-box;
}
.dialog {
    padding: 10px;
    height: fit-content;
    background-color: hsl(201, 49%, 45%);
    border: 2px solid #88B8CC;
    box-shadow: 1px 1px 0 black;
    border-radius: 5px;
    position: relative;
    color: var(--default-color);
    overflow: auto;
    font-weight: 600;
    font-size: 0.8rem;
    scrollbar-width: thin;
    scrollbar-color: #006a97 #00000000;
}
.dialog:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-left: 1.2px solid black;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    overflow: hidden;
}

.title {
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    white-space: nowrap;
}
.title > img {
    width: 20px;
}
.title > span {
    white-space: nowrap;
}

.quick_exit {
    padding: 5px;
    width: 10px;
    height: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    top: 9px;
    right: 9px;
    z-index: 2;
    opacity: var(--quick-exit-opacity);
    overflow: hidden;
}